<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title></head>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<body class="bg-light-subtle">

<nav class="navbar navbar-expand-lg bg-secondary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin}">MyCash-admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/admin/users_stats}">Users</a>
                <a class="nav-link" th:href="@{/admin/category_stats}">Category</a>
            </div>
        </div>
    </div>
</nav>

<h1>Admin Dashboard</h1>

<script th:src="@{/static/js/bootstrap.min.js}"></script>
</body>
</html>